@using PagedList.Mvc;
@using FileHub.Models

@model FileSearchModel

@{
    ViewBag.Title = "Список файлов";

    var isAdmin = HttpContext.Current.User.IsInRole("Admin");
}


@using (Html.BeginForm("FileList", "Files", FormMethod.Get))
{
    <div class="form-inline md-form mr-auto mb-4" style="padding-top: 50px">
        <input class="form-control mr-sm-2" name="query" type="text"
               placeholder="Введите фрагмент описания файла" aria-label="Search" value="@Model.query">
        <button class="btn btn-outline-warning btn-rounded my-0" type="submit">Поиск</button>
    </div>
}


@if (!string.IsNullOrWhiteSpace(Model.query))
{
    <div style="padding-top:20px">Результаты по запросу "@Model.query":</div>
    <br />
}

@if (Model.Files.Any())
{
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Имя файла</th>
                    <th scope="col">Описание</th>
                    <th scope="col">Тип файла</th>
                    <th scope="col" class="centered">Скачать</th>
                    @if (isAdmin)
                    {
                        <th scope="col" class="centered">Удалить</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var file in Model.Files)
                {
                    <tr id="@file.Id">
                        <td>@file.Name</td>
                        <td><span style="overflow:hidden; max-height:300px">@file.Description</span></td>
                        <td>@file.Extension</td>
                        <td class="centered">
                            <a href="@Url.Action("Download","Downloads", new { fileId = file.Id })"><i class="glyphicon glyphicon glyphicon-download-alt file-icon"></i></a>
                        </td>
                        @if (isAdmin)
                        {
                            <td class="centered">
                                <a onclick="deleteFile(@file.Id)"><i class="glyphicon glyphicon-floppy-remove file-icon"></i></a>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <br />
    <div>
        Страница @(Model.Files.PageCount < Model.Files.PageNumber ? 0 : Model.Files.PageNumber) из @Model.Files.PageCount
        @Html.PagedListPager(Model.Files, page => Url.Action("FileList", new { Model.query, page }))
    </div>
}
else
{
    <div style="padding-top: 20px; padding-bottom:20px">
        Файлы не найдены
    </div>
}

<script type="text/javascript">
    function deleteFile(fileId) {
        let fileTableRowSelector = "#" + fileId;
        $(fileTableRowSelector).hide();
        $.ajax({
            type: `POST`,
            url: `@Url.Action("Delete", "Files")?fileId=` + fileId,
            contentType: `application/json; charset=utf-8`,
            dataType: `json`
        });
    }
</script>

<style>
    table {
        margin-top: 30px;
    }

    .centered {
        text-align: center;
    }

    .file-icon:hover {
        color: limegreen;
    }

    .pagination {
        margin: 10px 0;
    }
</style>