@using PagedList;
@using PagedList.Mvc;
@using Picsurfer.Models;

@model IPagedList<DownloadFileModel>

@{
    ViewBag.Title = "Статистика файлов";

    var isAdmin = HttpContext.Current.User.IsInRole("Admin");
}

@if (Model.Any())
{
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Имя файла</th>
                    <th scope="col">Дата загрузки</th>
                    <th scope="col">Тип файла</th>
                    <th scope="col" class="centered">Количество скачиваний</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var downloadFile in Model)
                {
                    <tr id="@downloadFile.File.Id">
                        <td>@downloadFile.File.Name</td>
                        <td>10.10.10</td>
                        <td>@downloadFile.File.Extension</td>
                        <td class="centered">
                            @{
                                var downloads = downloadFile.DownloadsCount == null ? 0 : downloadFile.DownloadsCount;
                            }
                            @downloads
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <br />
    <div>
        Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("DownloadStatistics", new { page }))
    </div>
}
else
{
    <span>
        Пока что ничего не загружено
    </span>
}

<script type="text/javascript">
    function deleteFile(fileId) {
        let fileTableRowSelector = "#" + fileId;
        $(fileTableRowSelector).hide();
        $.ajax({
            type: `POST`,
            url: `@Url.Action("Delete", "Files")?fileId=` + fileId,
            contentType: `application/json; charset=utf-8`,
            dataType: `json`
        });
    }
</script>

<style>
    table {
        margin-top: 30px;
    }

    .centered {
        text-align: center;
    }

    .file-icon:hover {
        color: limegreen;
    }

    .pagination {
        margin: 10px 0;
    }
</style>