@using PagedList;
@using PagedList.Mvc;
@using Picsurfer.Models;
@model IPagedList<RatedPicture>

@{
    ViewBag.Title = "Список картинок";
}

<h2>Моя лента</h2>

@foreach (var ratedPicture in Model)
{
    <div class="img-container">
        <div>
            <img src="~/images/@ratedPicture.Picture.Name" />
        </div>
        <div>
            <span>Рейтинг: @ratedPicture.Rating</span><br />
            <span>Лайки: @ratedPicture.Likes</span><br />
            <span>Дизлайки: @ratedPicture.Dislikes</span><br />
            
        </div>
    </div>
}

<br />
Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("RatedPictures", new { page }))

<style>
    .img-container {
        width: auto;
        text-align: center;
        padding: 20px;
    }

    img {
        max-width: 100%;
        height: auto;
    }
</style>

