@using PagedList;
@using PagedList.Mvc;
@using Picsurfer.Models;

@model IPagedList<UserRatedPicture>

@{
    ViewBag.Title = "Список картинок";

    var isAdmin = HttpContext.Current.User.IsInRole("Admin");
}

<div class="pictures-container">
    @foreach (var ratedPicture in Model)
    {
        var dislikeIconClass = string.Empty;
        var likeIconClass = string.Empty;
        if (ratedPicture.UserRate == UserRate.Dislike)
        {
            dislikeIconClass = "chosen-rate";
        }
        if (ratedPicture.UserRate == UserRate.Like)
        {
            likeIconClass = "chosen-rate";
        }

        <div class="img-container" id="picture_@ratedPicture.Picture.Id">
            <img src="~/images/@ratedPicture.Picture.Name" />
            <div class="icon-bar">
                <a onclick="like(@ratedPicture.Picture.Id)"><i id="like_@ratedPicture.Picture.Id" class="glyphicon glyphicon-heart picture-icon like @likeIconClass"></i></a>
                <a onclick="dislike(@ratedPicture.Picture.Id)"><i id="dislike_@ratedPicture.Picture.Id" class="glyphicon glyphicon-thumbs-down picture-icon dislike @dislikeIconClass"></i></a>
                @if (isAdmin)
                {
                    <a onclick="deletePicture(@ratedPicture.Picture.Id)"><i class="glyphicon glyphicon glyphicon-floppy-remove picture-icon delete"></i></a>
                }
            </div>
        </div>
    }
</div>


<br />
Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("PictureList", new { page }))


<style>
    .picture-icon {
        margin-top: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 18px;
    }

        .picture-icon:hover {
            font-size: 20px;
            padding-top: 3px;
            padding-bottom: 3px;
        }

    .icon-bar{
        height: 40px;
    }
    .icon-bar .glyphicon {
        margin: 5px;
    }

    .chosen-rate {
        color: palevioletred;
    }

    .pictures-container {
        margin-top: 20px;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        grid-template-rows: repeat(3, 220px);
    }

    .img-container {
        width: auto;
        text-align: center;
        padding: 20px;
    }

        .img-container img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            -webkit-box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.3);
            -moz-box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.3);
            box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.3);
        }
</style>


<script type="text/javascript">
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover();
    });

    function like(pictureId) {

        let likeBtnIdSelector = "#like_" + pictureId;
        let dislikeBtnIdSelector = "#dislike_" + pictureId;

        $(likeBtnIdSelector).addClass("chosen-rate");
        $(dislikeBtnIdSelector).removeClass("chosen-rate");

        $.ajax({
            type: `POST`,
            url: `@Url.Action("Like", "Rates")?pictureId=` + pictureId,
            contentType: `application/json; charset=utf-8`,
            dataType: `json`
        });
    }

    function dislike(pictureId) {

        let likeBtnIdSelector = "#like_" + pictureId;
        let dislikeBtnIdSelector = "#dislike_" + pictureId;

        $(likeBtnIdSelector).removeClass("chosen-rate");
        $(dislikeBtnIdSelector).addClass("chosen-rate");

        $.ajax({
            type: `POST`,
            url: `@Url.Action("Dislike", "Rates")?pictureId=` + pictureId,
            contentType: `application/json; charset=utf-8`,
            dataType: `json`
        });
    }

    function deletePicture(pictureId) {
        let imageContainerSelector = "#picture_" + pictureId;
        $(imageContainerSelector).hide();
        $.ajax({
            type: `POST`,
            url: `@Url.Action("Delete", "Pictures")?pictureId=` + pictureId,
            contentType: `application/json; charset=utf-8`,
            dataType: `json`
        });
    }
</script>

