@using PagedList;
@using PagedList.Mvc;
@model IPagedList<Data.Model.Picture>

@{
    ViewBag.Title = "Список картинок";
}

<h2>Моя лента</h2>

@foreach (var picture in Model)
{
    <div class="img-container">
        <div>
            <img src="~/images/@picture.Name" />
        </div>
        <div>
            <a onclick="like(@picture.Id)">
                <i class="glyphicon glyphicon-thumbs-up"></i>
            </a>
            <a onclick="dislike(@picture.Id)">
                <i class="glyphicon glyphicon-thumbs-down"></i>
            </a>
        </div>
    </div>
}

<br />
Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("PictureList", new { page }))

<style>
    .img-container {
        width: auto;
        text-align: center;
        padding: 20px;
    }

    img {
        max-width: 100%;
        height: auto;
    }
</style>


<script type="text/javascript">
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover();
    });

    function like(pictureId) {
        $.ajax({
            type: ``,
            url: `@Url.Action("Like", "Rates")?pictureId=` + pictureId,
            contentType: `application/json; charset=utf-8`,
            dataType: `json`
        });
    }

    function dislike(pictureId) {
        $.ajax({
            type: `POST`,
            url: `@Url.Action("Dislike", "Rates")?pictureId=` + pictureId,
            contentType: `application/json; charset=utf-8`,
            dataType: `json`
        });
    }
   
</script>

