@using PagedList;
@using PagedList.Mvc;
@using Picsurfer.Models;

@model IPagedList<UserRatedPicture>

@{
    ViewBag.Title = "Список картинок";
}

<h2>Моя лента</h2>

@foreach (var ratedPicture in Model)
{
    var dislikeIconClass = string.Empty;
    var likeIconClass = string.Empty;
    if (ratedPicture.UserRate == UserRate.Dislike)
    {
        dislikeIconClass = "chosen-rate";
    }
    if (ratedPicture.UserRate == UserRate.Like)
    {
        likeIconClass = "chosen-rate";
    }

    <div class="img-container">
        <div>
            <img src="~/images/@ratedPicture.Picture.Name" />
        </div>
        <div>
            <a onclick="dislike(@ratedPicture.Picture.Id)">
                <i id="dislike_@ratedPicture.Picture.Id" class="glyphicon glyphicon-thumbs-down rate-icon dislike @dislikeIconClass"></i>
            </a>
            <a onclick="like(@ratedPicture.Picture.Id)">
                <i id="like_@ratedPicture.Picture.Id" class="glyphicon glyphicon-thumbs-up rate-icon like @likeIconClass"></i>
            </a>
        </div>
    </div>
}

<br />
Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("PictureList", new { page }))

<style>
    .img-container {
        width: auto;
        text-align: center;
        padding: 20px;
    }

    img {
        max-width: 100%;
        height: auto;
        -webkit-box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.4);
        -moz-box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.4);
        box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.4);
    }

    .rate-icon {
        padding-top: 15px;
        padding-bottom: 5px;
        font-size: 21px;
    }

        .rate-icon:hover {
            font-size: 23px;
            padding-top: 12px;
            padding-bottom: 2px;
        }

    .like {
        margin-left: 20px;
    }

    .dislike {
        margin-right: 20px;
    }

    .chosen-rate {
        color: palevioletred;
    }
</style>


<script type="text/javascript">
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover();
    });

    function like(pictureId) {

        let likeBtnIdSelector = "#like_" + pictureId;
        let dislikeBtnIdSelector = "#dislike_" + pictureId;

        $(likeBtnIdSelector).addClass("chosen-rate");
        $(dislikeBtnIdSelector).removeClass("chosen-rate");

        $.ajax({
            type: `POST`,
            url: `@Url.Action("Like", "Rates")?pictureId=` + pictureId,
            contentType: `application/json; charset=utf-8`,
            dataType: `json`
        });
    }

    function dislike(pictureId) {

        let likeBtnIdSelector = "#like_" + pictureId;
        let dislikeBtnIdSelector = "#dislike_" + pictureId;

        $(likeBtnIdSelector).removeClass("chosen-rate");
        $(dislikeBtnIdSelector).addClass("chosen-rate");

        $.ajax({
            type: `POST`,
            url: `@Url.Action("Dislike", "Rates")?pictureId=` + pictureId,
            contentType: `application/json; charset=utf-8`,
            dataType: `json`
        });
    }

</script>

