@using System;

@{
    var isAdmin = HttpContext.Current.User.IsInRole("Admin");
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
       (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

       ym(56601364, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
       });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/56601364" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">

                @if (isAdmin)
                {
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                    </button>
                }
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("MiniSearch", "FileList", "Files", new { area = "" }, null)</li>
                    @if (isAdmin)
                    {
                        <li>@Html.ActionLink("Загрузить файлы", "UploadPage", "Files", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("Статистика Файлов", "DownloadStatisctics", "Downloads", new { area = "" }, null)</li>
                    }
                    <li>@Html.ActionLink("О сайте", "About", "Home")</li>
                    <li>@Html.ActionLink("Контакт", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>

        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr class="footer-divider" />
        <footer>
            <p>&copy; @DateTime.Now.Year - MiniSearch. Разработано Тухтасиновым Махмуджоном</p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>

<style>
    .footer-divider {
        margin: 0 0 15px 0;
    }
</style>
